.nav {
    background-color: black;
    position: relative;
    z-index: 100;
}

.white {
    display: inline-block;
    padding: 1vw;
    color: white;
    background-color: black;
    width: 5vw;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.white2 {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
    background-color: black;
    color: white;
}

.white:hover .white2 {
    display: block;
}

.child {
    padding: 1vw;
    display: block;
    width: 5vw;
    text-align: center;
}

.child:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.temp {

    overflow: hidden;
    overflow-x: scroll;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 16/9;

}