section {
  flex-wrap: wrap;
}

header {
  background-color: black;
  text-align: center;
  color: white;
  width: auto;
}

main {
  background-color: gainsboro;
  width: auto;
}

footer {
  background-color: cornflowerblue;
  width: auto;
}

@media (min-width: 480px) {
  header {
    width: 30%;
  }

  main {
    width: 60%;
  }

  footer {
    width: 10%;
  }

  section {
    display: flex;
  }
}
