.head {
    font-weight: bold;
    font-size: 20px;
}

.half {
    width: 5%;
}

.top {
    position: relative;
    top: 10px;
    left: 20px;
    background: white;
}

.bor {
    border: 2px solid black;
    padding: 20px;
}

.ta {
    border: 2px solid black;
}

.bold {
    font-weight: bold;
}