<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    
    <body>
        <h1>About Us</h1>
        <p>This is a simple website example.</p>
        <a href="/">Back to Home</a>
    </body>
</html>
